body {
  font-family: 'Roboto', sans-serif;
  min-height: 2000px;
  padding-top: 80px;
  background-color: #fff;
}

/*Navigation*/

.navbar {
  color: #000;
  background-color: #f6f6f6;
  border-bottom: 1px solid #D6D5D6;
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.5);
}

.navbar-default .navbar-brand {
  font-size: 22px;
  color: #fff;
}

.navbar-fixed-top .navbar-brand {
  font-size: 30px;
  color: #333333;
  font-weight: 400;
}


.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-fixed-top .navbar-nav>li>a {
  color: #7F7F7F;
  font-size: 18px;
  font-weight: 300;
}

.about-tabs {
  margin-bottom: 20px;
}

.nav-tabs>li>a {
  color: #7F7F7F;
  font-weight: 300;
}

.navbar-about {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: none;
  z-index: 1;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0px;
  border-radius: 0.5em;
}

.navbar-nav > li > .dropdown-menu:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100px;
  border: 1px solid rgba(0,0,0,.15)
  border-color: #666 transparent transparent #666;
}

#home-header {
  font-weight: 300;
  text-shadow: 0px 0px 20px rgba(153, 153, 153, 0.2);
  margin-bottom: 20px;
}

.page-top {
  margin-top: 85px;
}

/*Buttons*/

.btn-primary {
  background-color: #9e1b32;
  font-weight: 300;
  border: none;
  border-radius: 0.25em;
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.5),
              0px 10px 30px rgba(153, 153, 153, 0.5);
}

.btn-primary:hover {
  background-color: #971b2f;
  /*background-color: rgba(158, 27, 50, 0.9);*/
  box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.5),
              0px 10px 30px rgba(153, 153, 153, 0.5);
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

#home-image {
  height: 200px;
  opacity: 0.3;
  display: inline;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}

h1, h2, h3, h4, h5 {
  line-height: 1.5em;
}

#home-banner {
  margin-left: 50px;
}

.jumbotron {
  background-color: #f6f6f6;
  box-shadow: 0px 0px 40px rgba(153, 153, 153, 0.3),
              0px 10px 30px rgba(153, 153, 153, 0.3);
}

#jumbotron-main {
  border-radius: 1em;
}

.team-member {
  box-shadow: 0px 0px 40px rgba(153, 153, 153, 0.3),
              0px 10px 30px rgba(153, 153, 153, 0.3);
  border: none;
  border-radius: 0.5em;
}

.panel-footer {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  text-align: center;
}

.footer {
  text-align: center;
}

#mission-icon {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header-centered {
  text-align: center;
}

.panel-default > .about-heading {
  background-color: #fff;
}

.about-panel {
  box-shadow: 0px 0px 0px rgba(153, 153, 153, 0.3),
              0px 10px 20px rgba(153, 153, 153, 0.1);
  border: none;
  border-radius: 0.5em;
}


/* Custom, iPhone Retina */
   @media only screen and (max-width : 767px) {
     .page-top {
       margin-top: 140px;
     }

     a.anchor {
       top: -180px;
     }


   }

   /* Extra Small Devices, Phones */
   @media only screen and (min-width : 480px) {

   }
